$tile-colors: (
  2: #778da9,
  4: #415a77,
  8: #6366f1,
  16: #4f46e5,
  32: #4338ca,
  64: #3730a3,
  128: #312e81,
  256: #14b8a6,
  512: #0d9488,
  1024: #0f766e,
  2048: #115e59,
);

$primary-background: #2a2a2a;
$secondary-background: #3c3c3c;
$cell-background: #4a4a4a;

$text-color-primary: #f5f5f5;
$text-color-secondary: #e3e3e3;
$text-color-accent: #6e8cfb;
$text-color-dark: #000;

$move-duration: 200ms;
$pop-duration: 100ms;
